<div class='container bg-trasparent my-2 p-1'>
<nav class="navbar navbar-light bg-light">
<% @user = User.find(params[:id])  %>

<h2>Hello!<%= @user.first_name %> <%= @user.last_name %>your purchase:</h2>

<p>
<p>User id and Address: <%= @user.id%>, <%= @user.address %></p>
</p>
</nav>
<br>

<table class="table">
<thead>
  <tr>
    <th scope="col"> Quantity </th>
    <th scope="col"> id and Name</th>
    <th scope="col">Price R$ &nbsp;&nbsp;</th>
    <th scope="col"> Item Value R$ </th>
  </tr>
</thead>
<% total = 0 %>
<% @deals.each do |deal| %>
  <% unless deal.finalizado %>
    <tr>
      <td class= "align-center"> <%= deal.quantity %> </td>
      <% @product = Product.find(deal.product_id) %>
      <td> <%= deal.product_id %> - <%= @product.title %> </td>
      <% @product.stock = @product.stock - deal.quantity %>
      <% @product.save %>
      <td class= "align-center"> <%= deal.price %> </td>
      <td class= "align-center"> <%= deal.quantity *  @product.price %> </td>
      <% total = total + (deal.quantity *  @product.price) %>
    </tr>
    <% deal.finalizado = true %>
    <% deal.save%>
  <% end %>
 <% end %>
</table>
<br>
<p>Your purchase total value is R$ <%= total %></p>
<p type="button" class="btn btn-outline-success rounded-pill"><%= link_to 'Confirmar Compra!', products_path %></p>
</div>