<h1> Deals </h1>

<ul><% @deals.each do |deal| %>
  <li>Quantidade: <%= deal.quantity %> </li>
  <li>Price R$: <%= deal.price %> </li>
  <li>User_id: <%= deal.user_id %>   </li>
  <% @user = User.find(deal.user_id)  %>
  <li>User name: <%= @user.first_name%> <%= @user.last_name %>   </li>
  <li>Product_id: <%= deal.product_id %></li>
  <% @product = Product.find(deal.product_id) %>
  <li>Product name: <%= @product.title %></li><br><br>

 <% end %>
 </ul>

  <p type="button" class="btn btn-link"><%= link_to 'Confirmar Compra!', products_path %></p>
