<div class='container bg-trasparent my-2 p-1'>
<nav class="navbar navbar-light bg-light">
<% @user = User.find(params[:id])  %>
<h2 class="navbar-brand mb-0 h1"> <%= @user.first_name %> <%= @user.last_name %>Histórico de compras </h2>

<p>
<p>User id: <%= @user.id%>, Address:<%= @user.address %>.</p>
</p>
</nav>
<br>

<table class="table table-bordered">
<thead class="table-dark table-sm">
  <tr>
    <th scope="col"> Quantity </th>
    <th scope="col"> Id and Name</th>
    <th scope="col"> Purchased at</th>
  </tr>
</thead>
 <tbody>
<% @deals.each do |deal| %>
  <% if deal.finalizado %>
    <tr>
      <th scope="row"> <%= deal.quantity %> </th>
      <% @product = Product.find(deal.product_id) %>
      <th scope="row"> <%= deal.product_id %> - <%= @product.title %> </th>
      <th scope="row"><%=deal.updated_at %> </th>
    </tr>
  <% end %>
 <% end %>
 </tbody>
</table>
<br>
<p type="button" class="btn btn-outline-success rounded-pill"><%= link_to 'Continuar comprando!', products_path %></p>
</div>