<% @user = User.find(params[:id])  %>
<h2> <%= @user.first_name %> <%= @user.last_name %>, Finishing your purchase </h2>

<p>
<p>User id and Address: <%= @user.id%>, <%= @user.address %></p>
</p>
<br>

<table>
  <tr>
    <td> Quantity </td>
    <td> Product_id and Name</td>
    <td> Price R$ &nbsp;&nbsp;</td>
    <td> Item Value R$ </td>
  </tr>
<% total = 0 %>
<% @deals.each do |deal| %>
  <% unless deal.finalizado %>
    <tr>
      <td align=center> <%= deal.quantity %> </td>
      <% @product = Product.find(deal.product_id) %>
      <td> <%= deal.product_id %> - <%= @product.title %> </td>
      <% @product.stock = @product.stock - deal.quantity %>
      <% @product.save %>
      <td align=center> <%= deal.price %> </td>
      <td align=center> <%= deal.quantity *  deal.price %> </td>
      <% total = total + (deal.quantity *  deal.price) %>
    </tr>
    <% deal.finalizado = true %>
    <% deal.save%>
  <% end %>
 <% end %>
</table>
<br>
<p>Your purchase total value is R$ <%= total %></p>
<p type="button" class="btn btn-link"><%= link_to 'Confirmar Compra!', products_path %></p>
