<% @user = User.find(params[:id]) %>
<h2> <%= @user.first_name %> <%= @user.last_name %>, Deals. </h2>

<p>
<p>User id and Address: <%= @user.id%>, <%= @user.address %></p>
</p>
<br>

<table>
  <tr>
    <td> Quantity </td>
    <td> Product id and Name</td>
    <td> Price R$ &nbsp;&nbsp;</td>
    <td> Item Value R$ </td>
    <td> &nbsp;&nbsp; Excluir? </td>
  </tr>

<% @deals.each do |deal| %>
  <% unless deal.finalizado %>
    <tr>
      <td align=center> <%= deal.quantity %> </td>
      <% @product = Product.find(deal.product_id) %>
      <td> <%= deal.product_id %> - <%= @product.title %> </td>
      <td align=center> <%= deal.price %> </td>
      <td align=center> <%= deal.quantity *  deal.price %> </td>
      <td align=center><type="button" class="btn btn-link"><%= link_to "Excluir!", deal, method: "DELETE" %></td>
    </tr>
  <% end %>
 <% end %>
</table>
  <br>
  <p type="button" class="btn btn-link"><%= link_to 'Confirmar Compra!', list_finish_path(current_user) %></p>
