<div class="container text-right">
  <p>Categoria:<%= @product.category %></p>
</div>

<div class="container text-center">
  <h1><%= @product.title %></h1>
</div>

<div class="container mt-3 mb-2">
  <% if @product.photos.attached? %>
    <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 400, width: 300, crop: :fill %>
    <% end %>
  <% else %>
      <% last_word = @product.title.split.last %>
      <div class="card"> <img src=<%= Faker::LoremFlickr.image(size: "400x300", search_terms: [last_word]) %>>
  <% end %>
</div>
  
<div class="container mt-4">
  <div class="d-flex justify-content-around text-bold">
    <h5>Preço: R$<%= @product.price%></h5>
    <h5>Estoque:<%= @product.stock%></h5>
  </div>  
</div>

<div class="container text-center">
  <p>Descrição:<%= @product.description%></p>    
</div>

<div class="d-flex justify-content-around">
  <p type="button" class="btn btn-outline-warning"><%= link_to 'Voltar', products_path %></p>
  <p type="button" class="btn btn-outline-success"><%= link_to 'Comprar', new_product_deal_path(@product)%></p>
</div>